networks:
  monitoring:
    driver: bridge

services:
  web:
    image: parveendhiman/villa-agency-ci-cd-graph:latest
    ports:
      - "80:80"
    restart: always
    networks:
      - monitoring

  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ./prometheus:/etc/prometheus
    ports:
      - "9090:9090"
    depends_on:
      - blackbox
    networks:
      - monitoring

  blackbox:
    image: prom/blackbox-exporter:latest
    volumes:
      - ./blackbox:/etc/blackbox_exporter
    command:
      - "--config.file=/etc/blackbox_exporter/blackbox.yml"
    ports:
      - "9115:9115"
    networks:
      - monitoring

  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - grafana-data:/var/lib/grafana
    networks:
      - monitoring

volumes:
  grafana-data:
